//import variables.scss
@use 'variables.scss';
@use 'queries.scss';

//Body
* {
    box-sizing: border-box;
}

body {
    background-color: variables.$body-bk-color;
}

//Sidenavbar
nav {
    .navbar-btn {
        display: flex;
        justify-content: center;
        padding: 5px;
        img {
            font-size: 30px;
            width: 300px;
            height: 300px;
        }
    }

    .membership {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 5px;
    }
}

//Search
.search-icon {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-items: center;
    background-color: variables.$bk-color-bar;
    padding: 10px;

    form{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 5px;
        input {
            background-color: variables.$bk-color-search;
            &:hover {
                background-color: variables.$bk-color-search;
                color: variables.$bk-color-font;
                font-size: 24px;
            }
        }

        button {
            width: 25%;
            border-radius: 15px;
            background-color: variables.$bk-color-searchLogo;
            border: none;
        }
    }
}

//Display Results
.results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
    padding: 20px;
    .card{
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        max-width: 300px;
        height: 550px;
        padding: 5px;
        border: 1px solid white;
        background-color: whitesmoke;
        img {
            width: 100%;
            max-width: 220px;
            height: 350px;
            border-radius: 5px;
        }
    }
    .card-img {
        width: 100%;
        height: auto;
    }
    .card-body{
        padding: 5px;
        text-align: center;
    }
    .card-title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .card-text{
        margin-bottom: 15px;
        color: #000;
    }

    .btn{
        display: inline-block;
        background-color: variables.$btn-bk-color;
        &:hover{
            background-color: variables.$btn-bk-color-hover;
            color: variables.$bk-color-font;
        }
    }
}

.modal-body {
    iframe {
        width: 100%;
        max-width: 650px;
    }
}

//Modal
.carousel-inner {
    .carousel-item {
        img {
            width: 100%;
            max-width: 650px;
            height: 450px;
            margin-right: 25%;
            margin-left: 25%;
        }
        .carousel-caption {
            button {
                background-color: variables.$btn-bk-color;
            }
        }
    .modal-header {
        background-color: variables.$body-bk-color;
        padding-left: 7%;
        border: 2px solid black;
    }
    }
}

//gradient background for Logo
.gradient-bkgr {
    background: linear-gradient(300deg, #191970, #ffd706, #cc0f23);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }